body {
    text-align: center;
    background-color: aqua;
}

.teachers {
    height: 300px;
    width: 400px;
}

#school {
    width: 600px;
    height: 400px;
}

#div {
    height: 10px;
    width: 100px;
}

#principal {
    height: 300px;
    width: 200px;
}
